@import 'tailwindcss';

@theme {
  --breakpoint-xs: 450px;

  /* Background-color */
  --color-layout_primary: #f3f4f6; /* bg-gray-100 */
  --color-section_primary: white; /* bg-white */
  --color-element_primary: #e5e7eb; /* bg-gray-200 */

  /* Text-color */
  --color-primary: #6a7282; /* color-gray-500 */
  --color-secondary: #99a1af; /* color-gray-400 */
}

.container-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title-shadow {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.active-menu {
  display: flex;
}

.hidden-menu {
  display: none;
}

.mobile-menu-opened {
  overflow-y: hidden;
}
